<section class="d-flex justify-content-center align-items-center mt-5">
  <div class="w-50">
    <h1 class="h3 mb-4 text-center">Editar administrador</h1>
    <form class="user p-4">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control form-control-user mb-3" id="email" placeholder="Email">
        <label for="password">Senha</label>
        <input type="password" class="form-control form-control-user mb-3" id="password" placeholder="Senha">
        <label for="confirmPassword">Confirmar senha</label>
        <input type="password" class="form-control form-control-user mb-4" id="confirmPassword" placeholder="Confirmar senha">
      </div>
      <button type="submit" class="btn btn-primary btn-user btn-block">
        Salvar
      </button>
      <hr>
    </form>
  </div>
</section>
